body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(93, 99, 204, 1) 0%, rgba(245, 240, 242, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background-image: url(background-image.jpg);
    font-family: monospace, sans-serif;
}

.container {
    background: rgba(0, 255, 255, 0.11);
    padding: 30px;
    border-radius: 100px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 40px;
    font-family: Georgia;
    border-radius: 3px;
    max-width: 845px;
    min-height: 100px;
    color:black;
}

.temp-container {
    width: 100%;
    padding: 30px;
    font-weight: bold;
    font-size: 35px;
    font-family: georgia;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}

input {
    width: 100%;
    font-family: monospace;
    padding: 15px;
    outline: none;
    background: rgba(0, 212, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 2, 139);
    font-size: 20px;
    font-weight: bold;
}

input::placeholder {
    color: black;
}

/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}